
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AI Image Generator</title>

  </head>

  <style>
    ::-webkit-scrollbar {
      width: 8px; 
    }

    ::-webkit-scrollbar-thumb {
      background-color: #363636; /* Color of the thumb */
      border-radius: 10px; /* Rounded corners */
    }

    ::-webkit-scrollbar-track {
      background-color: #202020; /* Track color */
      border-radius: 10px;
    }
    .imgsDiv {
      width: 30%;
      display: flex; 
      justify-content: center; 
    }

    .imgsDiv p {
      color: #cecece;
      margin: auto;
    }
    @media screen and (max-width: 512px) {
      .imgsDiv{
        width: 90%;
      }
    }
    @media screen and (min-width: 512px) and (max-width: 1100px) {
      .imgsDiv{
        width: 45%;
      }
    }


  </style>
  <body class="bg-black font-Poppins">

    <div class="h-screen w-screen overflow-auto"> 
      

        <!-- configs Div -->

        <div class="h-[99vh] w-[90%] lg:w-[30%] lg:flex md:w-[40%] md:flex sm:w-[90%] lg:bg-[rgba(90,90,90,0.1)] md:bg-[rgba(70,70,70,0.1)] bg-[rgba(20,20,20,1)] absolute top-[0.5vh] border-[2px] border-[rgba(255,255,255,0.1)]  flex-col gap-y-3 z-50 hidden" id="configs">

          <div class="absolute right-[2%] top-[1%] text-red-700 text-3xl flex md:hidden lg:hidden" id="closeMobileSettings">
              <i class="fa-solid fa-xmark"></i>
          </div>

          <input type="text" class="w-[90%] p-4 rounded-xl mx-auto mt-[12%] mb-[5%] bg-[rgba(40,40,40,0.8)] text-sm text-gray-400 outline-none border-[1px] border-[rgba(255,255,255,0.1)]" placeholder="Negative Prompt" id="negativeTextBox"> 

          <div id="styles" class="flex flex-row gap-2 text-sm w-[99%] mx-auto h-[30%] text-gray-400 flex-wrap overflow-y-auto items-center ml-[1%]">

              <div class=" border-[2px] border-[rgba(255,255,255,0.1)] text-center w-[31%] p-1 cursor-pointer rounded-xl"><img src="{{ url_for('static', filename='assets/photography.jpg') }}" alt="style Image " class="h-auto w-full rounded-xl m-0 p-0" loading="lazy"><p>Photography</p></div>

              <div class=" cursor-pointer border-[2px] border-[rgba(255,255,255,0.1)] text-center w-[31%] p-1 rounded-xl"><img src="{{ url_for('static', filename='assets/realistic.jpg') }}" alt="style Image" class="h-auto w-full rounded-xl" loading="lazy"><p>Realistic</p></div>

              <div class="cursor-pointer border-[2px] border-[rgba(255,255,255,0.1)] text-center w-[31%] p-1 rounded-xl"><img src="{{ url_for('static', filename='assets/cinematic.jpg') }}" alt="style Image" class="h-auto w-full rounded-xl" loading="lazy"><p>Cinematic</p></div>

              <div class="cursor-pointer border-[2px] border-[rgba(255,255,255,0.1)] text-center w-[31%] p-1 rounded-xl"><img src="{{ url_for('static', filename='assets/Film.jpeg') }}" alt="style Image" class="h-auto w-full rounded-xl" loading="lazy"><p>Film</p></div>

              <div class="cursor-pointer border-[2px] border-[rgba(255,255,255,0.1)] text-center w-[31%] p-1 rounded-xl"><img src="{{ url_for('static', filename='assets/Digital.jpeg') }}" alt="style Image" class="h-auto w-full rounded-xl" loading="lazy"><p>Digital</p></div>

              <div class="cursor-pointer border-[2px] border-[rgba(255,255,255,0.1)] text-center w-[31%] p-1 rounded-xl"><img src="{{ url_for('static', filename='assets/Anime.jpeg') }}" alt="style Image" class="h-auto w-full rounded-xl" loading="lazy"><p>Anime</p></div>

          </div> 

          <div class="w-[90%] max-h-[17%] text-gray-400 flex flex-row mx-auto gap-x-2 text-center rounded-xl items-center">
              <p class="bg-[rgb(15,15,15)] h-[6vh] p-2 text-sm rounded-xl border-[1px] border-[rgba(255,255,255,0.1)] ">Model </p> 
              <div class="h-[100%] w-full overflow-y-auto">
                <div class="bg-black p-2 rounded-xl border-[2px] border-[rgba(255,255,255,0.1)] flex flex-row items-center justify-center gap-2 cursor-pointer p-1" id="selectedModel">
                  <p>Stable Diffusion 3.5 Large</p>
                  <i class="fas fa-caret-down"></i>
                </div>                  
                <div id="availableModels" class="flex flex-col hidden gap-1">
                  <p class="bg-black p-1 rounded-xl border-[2px] border-[rgba(255,255,255,0.1)]">Stable Diffusion 3.5 Large</p>
                  <p class="bg-black p-1 rounded-xl border-[2px] border-[rgba(255,255,255,0.1)]">Flux Dev</p>
                  <p class="bg-black p-1 rounded-xl border-[2px] border-[rgba(255,255,255,0.1)]">Stable Diffusion 3.5 Realism Lora</p>
                  <p class="bg-black p-1 rounded-xl border-[2px] border-[rgba(255,255,255,0.1)]">Flux Realism</p>
                  <p class="bg-black p-1 rounded-xl border-[2px] border-[rgba(255,255,255,0.1)]">Flux Schnell</p>

                </div>
              </div>
          </div>
  
  
          <div class="w-[90%] text-gray-400 flex flex-row items-center mx-auto gap-x-2 text-center rounded-xl">
              <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl border-[1px] border-[rgba(255,255,255,0.1)]">Inference Steps <p id="stepsText">25</p></p>
              <input type="range" min="10" max="50" value="25" class="flex-grow bg-gray-800 rounded-lg" id="stepsRange">
          </div>
  
          <div class="w-[90%] text-gray-400 flex flex-row items-center mx-auto gap-x-2 text-center rounded-xl">
              <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl border-[1px] border-[rgba(255,255,255,0.1)]" >CFG Scale <p id="cfgText">3.5</p></p>
              <input type="range" min="1" max="10" value="3.5" step="0.1" class="flex-grow bg-gray-800 rounded-lg" id="cfgRange">
          </div>
   
          <div class="w-[90%] text-gray-400 flex flex-row items-center mx-auto gap-x-2 text-center rounded-xl cursor-pointer">
              <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl border-[1px] border-[rgba(255,255,255,0.1)]">Aspect Ratio </p> 
              <div class="flex flex-row gap-x-2" id="aspectRatioDiv">
                <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl ">1:1</p> 
                <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl ">9:16</p> 
                <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl ">16:9</p>
                <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl ">3:4</p>
                <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl ">4:3</p> 
              </div>
          </div>
  
          <div class="w-[90%] text-gray-400 flex flex-row items-center mx-auto gap-x-2 text-center rounded-xl">
              <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl border-[1px] border-[rgba(255,255,255,0.1)]">Width</p> <input type="text" placeholder="1024" value="1024" class="w-[15%] p-2 rounded-lg bg-transparent border-[1px] border-[rgba(255,255,255,0.1)] outline-none text-sm" id="widthTextBox">
          </div>
  
          <div id="heightText" class="w-[90%] text-gray-400 flex flex-row items-center mx-auto gap-x-2 text-center rounded-xl">
              <p class="bg-[rgb(15,15,15)] p-2 text-sm rounded-xl border-[1px] border-[rgba(255,255,255,0.1)]">Height</p> <input type="text" placeholder="1024" value="1024" class="w-[15%] p-2 rounded-lg bg-transparent border-[1px] border-[rgba(255,255,255,0.1)] outline-none text-sm" id="heightTextBox">
          </div>

      </div>
    
        <!-- main container -->

        <div class="absolute w-[100%] h-[100%] left-[0%] lg:left-[30%] bg-black flex flex-col items-center gap-y-4 lg:w-[70%] md:w-[60%] md:left-[40%] sm:w-[100%] sm:h-[100%] sm:left-[0%] z-10">
          <div class="flex flex-row mt-[5%] w-[90%] gap-x-4 bg-[rgba(30,30,30,0.7)] rounded-xl">
            <input type="text" name="" id="promptTextBox" class="w-[95%] text-sm p-5 outline-none text-gray-400 bg-transparent" placeholder="Enter What You Want To create">
            <div class="text-gray-400 my-auto text-2xl cursor-pointer flex md:hidden lg:hidden" id="openMobileSettings">
                <i class="fa-solid fa-gear"></i>
            </div>
            <button class="p-1 rounded-xl" id="generateBtn">
              <i class="fa-solid fa-wand-magic-sparkles text-white text-2xl"></i>
            </button>
          </div>
          
          <div id="generatedImgs" class="w-[90%] h-full flex flex-row flex-wrap justify-center items-start gap-3 overflow-y-auto mt-[2.5%] mb-[1%] bg-[rgba(10,10,10,0.3)] border-[2px] border-[rgba(255,255,255,0.2)] rounded-xl p-3">
          </div>
        
          <div class="absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 bg-[rgba(30,30,30,0.6)] w-[70%] h-[50%] rounded-xl border-[2px] border-[rgba(255,255,255,0.1)] p-2 flex justify-center items-center flex-col" id="note">
            <div id="closeNote" class="absolute right-[2%] top-[2%] text-3xl text-red-700 cursor-pointer">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <p class="rounded-xl text-gray-400 text-xl p-2 bg-[rgba(128,0,128,0.5)] mb-[5%] w-max mx-auto">Note</p>
            <p class="text-gray-400 text-center">You can clone this GitHub repo and use it with your own API provider. </p>
            <a href="https://github.com/yasirme2008/AI-Image-Generator-UI" target="_blank" class="p-2 m-auto bg-gradient-to-r from-pink-400 via-pink-purple to-red-500 text-[rgba(1,1,1,1)] rounded-xl text-center">
              Visit Github Repo
            </a>
            <a href="https://discord.gg/tRC7hNXfPH" target="_blank" class="p-2 m-auto bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-[rgba(1,1,1,1)] rounded-xl text-center">
              Join Discord
            </a>
          </div>
          
        </div>
        
    </div>
      
    
    
  </body>

    <script>
        tailwind.config = {
          theme: {
            extend: {
              fontFamily: {
                Poppins: ['Poppins', 'sans-serif'],
                opensans: ['Open Sans', 'sans-serif'],
              }, 
            },
          },
        };
      </script>
    <script src="{{ url_for('static', filename='js/script.js') }}" type="module"></script>
  
</html>
